@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
img{
    width: 200px;
    border-radius: 100px;
    margin-top: 15px; 
    margin-left: 10px; 
}
body{
    box-sizing: border-box;
    background: green;
    font-family: "Montserrat", sans-serif;
}
header{
    height: 20vh;
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 4px 20px rgb(0, 0, 0, 0.3);
}
#image{
    height: 100%;
}
ul{
    list-style: none;
}
#headd{
    list-style: none;
    width: 75%;
    text-align: center;
}
.knopka{
    float: left;
    text-decoration: none;
    margin: 10px;
    margin-left: 70px;
    box-shadow: 0px 4px 20px rgb(0, 0, 0, 0.3);
    background: rgb(16, 168, 16);
    /* border: 2px black solid; */
    border-radius: 10px;
    color: black;
    padding: 10px;
    transition: 0.5s ease;
}
table{
    display: flex;
    flex-direction: column;
    align-items: center;    
    height: 70%;
    width: 95%;
    overflow: auto;
    padding-top: 12px;
    border: collapse;
    text-align: center;
}
#tablediv thead {
    width: 100%;
}
#tablediv th{
    background: rgb(184, 218, 184);
    position: sticky;
    border: none;
    top: 0;
}
#tablediv  tr td{
    background: white;
    border-bottom: 1px solid black;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
    width: 100%;
        padding-top: 20px;
}
#knopka1:hover{
    padding: 8px;
}
#knopka2:hover{
    padding: 8px;
}
#knopka3:hover{
    padding: 8px;
}

footer{
    
}